# Dependencies
/node_modules
/frontend/node_modules

# Production build
/frontend/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*# Add this line
backend/tracking.db
student-tracking-app.code-workspace
/backend/db_viz.erd.json
/backend/db_viz.json
/backend/students.csv
/backend/myData
/backend/data
/backend/node_modules
/cleanup.js
/restructure.js