<h2>Classes</h2>

<table>
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <!-- Add other relevant headers -->
        </tr>
    </thead>
    <tbody>
        <% classes.forEach(classItem => { %>
            <tr>
                <td><%= classItem.id %></td>
                <td><%= classItem.name %></td>
                <!-- Add other relevant data -->
            </tr>
        <% }); %>
    </tbody>
</table>