    <h2>Standards</h2>

    <table>
        <thead>
            <tr>
                <th>Standard ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% standards.forEach(standard => { %>
                <tr>
                    <td><%= standard.id %></td>
                    <td><%= standard.description %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>